<%- include('../partials/header') %>

  <% for (let cohort of cohorts) { %>
    
<div id="cohorts-box">
    <div class="d-flex flex-row align-items-center">
        <% if (cohort.imageUrl) {%>
        <img id="cohort-image" src="<%= cohort.imageUrl %>">
        <%}%>
        <h5 class="ml-2"><%=cohort.name%></h5>
    </div>
    <p><%=cohort.members%></p>
    <a class="btn btn-primary" href="/cohorts/<%= cohort.id %>">Show cohort</a>
</div>
  <% } %>

<%- include('../partials/footer') %>
